
@{
	ViewBag.Title = "Registrar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container2">
	<h4>USUARIOS</h4>
	<div class="row">
		<div class="input-field col s0">
			<a href="~/Usuario/Registrar" class="waves-effect waves-light btn">Registrar</a>
		</div>
	</div>
</div>
